<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customers.css')}}">
</head>
<body>
    <div class="paper">
    <header>
        <h1>List of Customers</h1>
    </header>

    <main>
        <h2>Add New Customer</h2>
        <form action="{{ url_for('add_customer') }}" method="post">
            <label for="new_firstname">First Name:</label>
            <input type="text" id="new_firstname" name="new_firstname" placeholder="Enter first name">
            
            <label for="new_lastname">Last Name:</label>
            <input type="text" id="new_lastname" name="new_lastname" placeholder="Enter last name">
            
            <label for="new_phonenumber">Phone Number:</label>
            <input type="text" id="new_phonenumber" name="new_phonenumber" placeholder="Enter phone number"><br><br>
            
            <label for="new_email_address">Email:</label>
            <input type="text" id="new_email_address" name="new_email_address" placeholder="Enter new email">

            <label for="new_address">Address:</label>
            <input type="text" id="new_address" name="new_address" placeholder="Enter new address"><br><br>

            <button type="submit">Add Customer</button>
        </form>

        <h2>List of Customers</h2>
        <!-- Scrollable area for the list of customers -->
        <div class="customer-list-container">
            <ol>
                {% for customer in customers %}
                <li class="customer_list">
                    <p>Name: {{ customer.first_name }} {{ customer.last_name }} Email: {{ customer.email_address }} Address: {{ customer.address }} Phone Number: {{ customer.phone_number }}</p>
                    <form action="{{ url_for('delete_customer', customer_id=customer.id) }}" method="post" style="display: inline;">
                        <button type="submit">Delete</button>
                    </form>
                </li>
                {% endfor %}
            </ol>
        </div>
    </main>
</div>
</body>
</html>
