<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>List of Invoices</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/invoice_list.css')}}">
    </head>
    <body>
        <div class="navbar">
            <a href='/'><button id="nav">Invoice</button></a>
            <a href='inventory'><button id="nav">Inventory</button></a>
            <a href='customers'><button id="nav">Customers</button></a>
        </div>
    <div class="paper"
        <h2>Invoices</h2>
        <div class="invoice_list">
            {% for invoice in invoices %}
                <li class="invoice_list">{{ invoice.name }} - Amount: {{ invoice.amount }}
                <form action="/delete_invoice/{{ invoice.id }}" method="post"><button type="submit">Delete</button></form>
                </li>
            {% endfor %}
        </div>
    </div>

    </body>
</html>