<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>List of Invoices</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/invoice_list.css')}}">
    </head>
    <body>
        <div class="navbar">
            <a href='/'><button id="nav">Create New Invoice</button></a>
        </div>
    <div class="paper">
        <h2>Invoices</h2>
        <div class="invoice_list">
            <ul>
                {% for invoice in invoices %}
                <li>{{ invoice.name }}: {{ invoice.amount }} {{ invoice.date }}</li>
                <li>
                    <strong>ID:</strong> {{ invoice.id }}<br>
                    <strong>Name:</strong> {{ invoice.name }}<br>
                    <strong>Amount:</strong> {{ invoice.amount }}<br>
                    <strong>Date:</strong> {{ invoice.date.strftime('%Y-%m-%d') }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    </body>
</html>